body{
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;
    
}
.whole{
    width: 390px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 20px hsl(225, 69%, 78%);
    top: 50px;
    margin-bottom: 100px;
}
.illustration-hero{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 390px;
}
h1{
    font-weight: 900;
    text-align: center;
    color: hsl(223, 47%, 23%);
    font-size: 1.5em;
    margin-top: 35px;
}
.description{
    text-align: center;
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    color: hsl(224, 23%, 55%);
}
.plan{
    border-radius: 10px;
    background-color: hsl(225, 100%, 98%);
    text-align: center;
    height: 80px;
    position: relative;
    width: 320px;
    margin: auto;
}
.music-icon{   
    position: absolute;
    top: 16px;
    left: 16px;
}
.plan h3{
    position: absolute;
    left: 81px;
    margin-bottom: 0px;
    margin-top: 0px;
    top: 15px;
    color: hsl(223, 47%, 23%);
}
.plan p{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.change{
    position: absolute;
    right: 20px;
    top: 28px;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
    font-size: large;
    cursor: pointer;
    text-decoration: underline;
}
.change:hover{
    text-decoration: none;
}
.price{
    position: absolute;
    left: 81px;
    bottom: 18px;
    color: hsl(224, 23%, 55%);
}
.payment {
    background: hsl(245, 75%, 52%);
    background-image: -webkit-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
    background-image: -moz-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
    background-image: -ms-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
    background-image: -o-linear-gradient(top, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
    background-image: linear-gradient(to bottom, hsl(245, 75%, 52%), hsl(245, 75%, 52%));
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    -webkit-box-shadow: 0px 16px 16px hsl(245, 100%, 89%);
    -moz-box-shadow: 0px 16px 16px hsl(245, 100%, 89%);
    box-shadow: 0px 16px 16px hsl(245, 100%, 89%);
    color: #ffffff;
    font-size: 17px;
    padding: 10px 70px 10px 70px;
    text-decoration: none;
    width: 180px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    text-align: center;
}
  
.payment:hover {
    opacity: 0.7;
}
.cancel{
    text-align: center;
    color: hsl(224, 23%, 55%);
    margin-top: 35px;
    cursor: pointer;
}
.cancel:hover{
    color: black;
    font-weight: 900;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    color: hsl(224, 23%, 55%);
    padding-bottom: 10px;
}
.attribution a {
    color: hsl(228, 45%, 44%); 
    }